doctype html
html(lang="en")
  head
    title Interactive Crew List
    link(rel="stylesheet", href="style.css")
    link(rel="icon", type="image/png", href="favicon.png")
  body
      main
        header
            h1 Interactive Obra Dinn Crew List
            p
                | Help figure out the fates of the crew members onboard the Obra Dinn!
                br
                br
                | A legal copy of Obra Dinn is required to play the game, this website is just a tool to bring collaborative investigation to the game.
            br
            p.todo
                | Missing Features:
                li Portrait selector / crew sketch viewer
                li Interactive fate selector
        table.crew-list
            tr
                th #
                th Portrait
                th Name
                th Quality
                th Origin
                th Fate
            each member in crew
                tr
                    td= member.id
                    // TODO: Add portrait selector from public/img/crew
                    td.portrait
                        img(src="img/portraits/a.webp")
                    td
                        input.solved(type="checkbox" id="solved" name=member.name value="solved")
                        span=member.name

                    td= member.quality
                    td= member.origin
                    // TODO: Replace with a selector / modal
                    td <textarea name="cause-of-death"></textarea>
        footer
            p Made with ❤️ by <a href="https://github.com/sondregronas" target="_blank">@sondregronas</a>
            p.note
                | Note: This is a work in progress. The data is not complete, and the UI is not finished.
                br
                | If you want to help out, please check out the <a href="https://github.com/sondregronas/obra-dinn-interactive-crew-list" target="_blank">GitHub repo</a>!
                br
                br
                | This project is in no way affiliated with Lucas Pope or his game Obra Dinn.
                br
                | All data and images are property of Lucas Pope and his team.
