table.crew-list
    tr
        th #
        th Portrait
        th Name
        th Quality
        th Origin
        th Fate
    each member in crew
        tr
            td= member.id
            td.portrait
                img(src="img/portraits/0.webp" id=member.id + "-img" class="selected-portrait" onclick="updatePortrait(this)" oncontextmenu="updatePortrait(this); clickPortrait(0); return false;")
            td
                input.solved(type="checkbox" id="solved" name=member.name value="solved")
                span=member.name

            td= member.quality
            td= member.origin
            td <textarea name="fate" id="fate"></textarea>
